<body>

<aside id="aside">
    <br>
    <p id="titulito">¿BUSCAS O ENCONTRASTE UNA MASCOTA PERDIDA? </p>
    <br>

    <p id="cuerpito">Este espacio busca crear una red de ayuda para encontrar perros y gatos perdidos a través de la publicación del caso o con el reporte de mascotas encontradas para agilizar ese final feliz tan esperado en este tipo de situaciones. Solo debes registrar los datos solicitados según el caso para que Huellitas sin Hogar publique y difunda la infomacion.</p>

    <p id="titulitos">Ayudanos </p>
    
    <p id="cuerpito">No olvides tener foto de tu animal de compañía para cargarla y obtener mejores resultados y sobretodo, dejar los datos donde te puedan contactar.
<br>
<br>

    En esta misma sección encontrarás los animales encontrados. Puedes consultar si alguien encontró al tuyo.
<br>
<br>

Si el perro tiene un aspecto sano y no muestra una actitud agresiva puedes intentar acercarte. Un perro abandonado o perdido está desorientado, puede asustarse con facilidad y huir si intentas acercarte de una forma brusca o directa. Por esta razón es importante que te acerques poco a poco y evitando los movimientos repentinos. Utiliza tonos de voz suaves y evita hablar con un tono amenazante. Si dispones de comida, puedes utilizarla para que el perro se relaje, en lugar que atraerlo hacia ti, es mejor tirar comida lejos de ti. Verás que el perro se irá acercando a ti a medida que coja confianza. Cuando hace calor, puede ser útil también ofrecerle agua para ayudarle a relajarse en tu presencia.
<br>
<br>

Si el perro está herido o enfermo o muestra signos de agresividad, es mejor quedarse cerca y llamar a la Policía Local, que es la autoridad competente para gestionar la recogida de perros perdidos o abandonados. En su defecto, te derivarán a la protectora municipal. Si quieres proporcionarle los primeros auxilios es importante que sepas cómo manipularlo para evitar hacerle daño y para evitar que te haga daño para defenderse.
<br>
<br>


</p>
    
<p id="titulitos">Si tiene la chapa</p>
    
    <p id="cuerpito">En la chapa identificativa suele haber el nombre del perro y un teléfono de contacto. Si el teléfono está actualizado y tenéis un poco de suerte, el propietario del perro te contestará a la primera y le podrás comunicar que acabas de encontrar a su perro.</p>


<p id="titulitos">No tiene chapa </p>
    
    <p id="cuerpito">En este caso, puedes quedarte con el perro en el lugar donde lo has encontrado durante un tiempo prudencial: es posible que aparezca el propietario que lo está buscando.
        <br>
        <br>

     El paso siguiente puede ser llevar al perro a la clínica veterinaria más cercana para comprobar gratuitamente si tiene microchip y así localizar a los propietarios. Si tiene el microchip, el veterinario puede acceder a sus datos y ponerse en contacto con el propietario. Además el veterinario podría reconocer al perro y avisar al propietario, incluso si el perro no tiene el microchip.</p>

</aside>

<br>
<br>
<div id="titulo">Perdidos</div>

    
    <div class="container">

        <div class="item item1"></div>
        <div class="item item2"></div>
       


    </div>
    <div class="containert">

        <div class="itemt item1t">Justin tiene 10 meses, es muy hogareño, consentido y timido. Se encontraba con sus papas en el parque salitre Mágico, agradecemos a todos su apoyo para encontrarlo.       
            <br>
            Teléfono : 3203358816 </div>
        
        <div class="itemt item2t">Perrito negro de raza pequeña que responde al nombre de tomas escapo de casa y lo estamos buscando tiene un año de nacido , tiene pelo ondulado es muy importante para la familia agradecemos su ayuda.
            <br>
            Teléfono : 3112165281</div>
        


    </div>

    <div class="container">

        <div class="item item3"></div>
        <div class="item item4"></div>
        


    </div>
    <div class="containert">

        <div class="itemt item1t">Es un perro pequeño bien cuidado, llego a mi casa perdido, sin placa y con un buzo morado algo sucio.No lo puedo tener nmi casa mucho tiempo ya que viajo pronto fuera del pais.
        <br>
        Teléfono 1: 3116094939
        </div>

        <div class="itemt item2t">Color café clara bicolor blanca, tiene una pañoleta color fucsia donde se encuentra el tel de su veterinaria y un collar azul rey. tiene 3 años 
            <br>
            Teléfono : 3124659922
        </div>
       


    </div>
    <div class="container">

        <div class="item item5"></div>
        <div class="item item6"></div>
       


    </div>
    <div class="containert">

        <div class="itemt item1t">Desde el 30 de agosto no ha regresado a casa, se perdio por el centro: La Candelaria, por la séptima y centro de memoria. Azabache tiene collar azul con logo de Superman, tiene una mancha blanca en el cuello, no está castrado
        <br>
        Teléfono : 3138882518
        </div>
        <div class="itemt item2t">Perrito de 11 meses de edad, criollo, tamaño pequeño, colores del pelo: Amarillo con pecho blanco, totalmente sano y muy juguetón, no llevaba collar cuando se perdió. Responde al nombre de Milo. Lo extrañamos mucho.
            <br>
            Teléfono : 3015686886 
        </div>
      


    </div>
<br>
<br>

    
</body>
