<header>
    <div id="header">
        <a routerLink="Inicio"><div id="logodiv"></div></a>
        
        <ul class="list">
            <li><a routerLink="Formulario">Contactanos</a></li>
            <li><a routerLink="Donaciones">Donaciones</a></li>
            <li><a routerLink="Adopciones">Adopciones</a></li>
            <li><a routerLink="Perdidos">Perdidos</a></li>
            <li><a routerLink="Inicio">Inicio</a></li>
           
            
        </ul>
        
    </div>
    
</header>