


      
      .form-register {
        width: 600px;
        background: #24303c;
        padding: 30px;
        margin: 150px 20px 180px 380px ;
        border-radius: 15px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
      }
      
      .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
        
      }
      
      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(255, 181, 43);
        font-family: 'calibri';
        font-size: 18px;
        color: white;
      }
      
      .form-register p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
      }
      
      .form-register a {
        color: rgb(255, 181, 43);
        text-decoration: none;
      }
      
      .form-register a:hover {
        color: rgb(255, 181, 43);
        text-decoration: underline;
      }
      
      .form-register .botons {
        width: 100%;
        background: rgb(255, 181, 43);
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
      }