#header{

background-color: rgb(255, 181, 43);   
display: block;
width: 1550px;
height: 130px;
margin: auto;


}
#logodiv{
    background-image:url(./Imagenes/LOGO.png) ;
    display: block;
    width: 230px;
    height: 130px;
    margin: 0px 150px;
    padding: 0px 0px;
    background-size: cover;
}

ul {
    list-style-type: none;
    display: flex;
    margin: -38px -24px;
    padding: 0px 0px;
    text-align: right;
    width: 95%;
    flex-direction: row-reverse;
    align-items: flex-start;
}
li{
    display: inline-block;
    padding: 0.5em 20px;
    font-size: larger;
}

li a {
    text-decoration: none;
    color: #000;
}
.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0px 130px;
    justify-content: flex-start;
    width: auto;
    height: 310px;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
}
.item{
    background-color: gray;
    margin: 0px 70px;
    height: 300px;
    width: 400px;
    border: 2px solid black;
}

.containert {
    display: flex;
    margin: 20px 130px;
    justify-content: flex-start;
    width: auto;
    height: 90px;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
}
.itemt {
    background-color: rgb(255, 255, 255);
    margin: 0px 70px;
    height: 80px;
    width: 400px;
    text-align: left;
    
   
}
.itemtd {
    background-color: rgb(255, 255, 255);
    margin: 199px 70px;
    height: 80px;
    width: 400px;
    text-align: left;
    
   
}
footer {
    background: rgb(255, 181, 43);
    width: 1550px;
    height: 80px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: right;
}
#finalt{
    margin:0px 20px;
}


#aside{
    text-align: center;
    width: 26%;
    height: 140%;
    margin: 290px 178px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(95, 95, 95, 0.29);
}

#titulo{
    height: 70px;
    width: auto;
    margin: 20px 20px 20px 210px;
    font-size: 50px;
    
}


#titulito{

font-size: xx-large;
font-style: initial;
margin: 15px 35px 15px 35px;
}
#titulitos{
    margin: 25px 45px 25px 45px;
    font-size: large;
    font-style: initial;
    text-align: left;
    }

#cuerpito{
    margin: 15px 45px 15px 45px;
font-size: medium;
text-align: left;
}
.item1{
    background-image: url(./Imagenes/p7.jpeg);
    background-size: cover;
    background-position: 0px -60px;

    
}
.item2{
    background-image: url(./Imagenes/p8.jpeg);
    background-size: cover;
    background-position: 0px 0px;

}
.item3{
    background-image: url(./Imagenes/p9.jpeg);
    background-size: cover;
    background-position: 0px -50px;

}
.item4{
    background-image: url(./Imagenes/p10.jpg);
    background-size: cover;
    background-position: 0px -120px;

}
.item5{
    background-image: url(./Imagenes/p11.jpeg);
    background-size: cover;
    background-position: 0px -130px;

}
.item6{
    background-image: url(./Imagenes/p12.jpeg);
    background-size: cover;
    background-position: 0px -140px;
}

