<body>

<aside id="aside">
    

</aside>

<br>
<br>
<div id="titulo">Donaciones</div>

<br>
    
    <div class="container">

        <div class="itemtd item1t">
            <div id="titulo3">Necesitamos de tu ayuda</div>
            <br>
            <br>
            Cada aporte cuenta para sus procesos de rescate, traslado, recuperación, tratamientos veterinarios, transportes, medicamentos, recuperación de traumas y terapias de conducta. Alimentación, esterilizaciones, insumos médicos, servicios de guardería, empleados, manutención en sus hogares de paso e impresión de materiales de difusión. </div>

        <div class="item item17"></div>
       


    </div>
    <br>
    <br>

    <div class="container">

        <div class="item item18"></div>

        <div class="itemtd item2t">
            
        
            <br>
            <b>Cuenta ahorros Bancolombia: </b> 19116342408
            <br>
            <br>
            <b>Cuenta ahorros Davivienda: </b> 9770232586 
            <br>
            <br>
            <b>Nequi / Daviplata: </b> 350 2122895
            <br>
            <br>
            <b>Paypal: </b> fundacion@adoptanocompres.org
            <br>
            <br>
            <b>Convenio Efecty No. 110528. Número para pago: </b>100000095683
            <br>
            <br>
            <b>Convenio Baloto No. 950110. Número para pago:</b> 100000095683


             </div>

    </div>
<br>
<br>
   
    <div class="container">

        <div class="itemtd item1t">

            <div id="titulo3">Donación de insumos</div>
            <br>
            <br>
            Tu aporte material nos ayuda a mejorar la calidad de vida de muchos animales en situación de calle que tanto lo necesitan, también nos ayuda a recuperar y rehabilitar a nuestros rescatados. Con cada uno de tus esfuerzos estas salvando una vida y reescribiendo la historia de los que más lo necesita.</div>

        <div class="item item19"></div>
       


    </div>
<br>
<br>

    <div class="container">

        <div class="item item20"></div>

        <div class="itemtd item2t">
            
            
            <b>Comidas</b>
<br>
<br>
 Concentrados altos en proteína como: Proplan, Royal Canin, VetLife, Taste of the wild, Hills, Diamond Naturals, Nupec, Equilibrio, Evolve, Nutra Nuggets. 
<br>
Latas gastro intestinales  Proplan CN / Royal Canin Recovery / Hills Ad, ID, Dr. Clauders
<br>
<br>

<b>Insumos</b>
<br>
<br>

Gazas,Venda ,Covan ,Tapetes absorbentes de orina ,Papel periódico ,Cateteres 20, 22 y 24 ,Pañales de todas las tallas ,Jeringas 1, 3 y 5 ML,Guantes de latex y Cobijas
</div>
        


    </div>
<br>
<br> 
</body>
