#header{

background-color: rgb(255, 181, 43);   
display: block;
width: 1550px;
height: 130px;
margin: auto;


}

ul {
    list-style-type: none;
    display: flex;
    margin: -38px -24px;
    padding: 0px 0px;
    text-align: right;
    width: 95%;
    flex-direction: row-reverse;
    align-items: flex-start;
}
li{
    display: inline-block;
    padding: 0.5em 20px;
    font-size: larger;
}

li a {
    text-decoration: none;
    color: #000;
}

.item{
    background-color: gray;
    margin: 0px 70px;
    height: 300px;
    width: 400px;
    border: 2px solid black;
}

.containert {
    display: flex;
    margin: 20px 130px;
    justify-content: flex-start;
    width: auto;
    height: 90px;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
}
.itemt {
    background-color: rgb(255, 255, 255);
    margin: 0px 70px;
    height: 80px;
    width: 400px;
    text-align: left;
    
   
}
.itemtd {
    background-color: rgb(255, 255, 255);
    margin: 199px 70px;
    height: 80px;
    width: 400px;
    text-align: left;
    
   
}
footer {
    background: rgb(255, 181, 43);
    width: 1550px;
    height: 80px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: right;
}
#finalt{
    margin:0px 20px;
}


#aside{
    text-align: center;
    width: 26%;
    height: 140%;
    margin: 290px 178px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(95, 95, 95, 0.29);
}
#asideF{
    text-align: center;
    width: 26%;
    height: 80%;
    margin: 290px 178px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(95, 95, 95, 0.29);
}

#titulo{
    height: 70px;
    width: auto;
    margin: 20px 20px 20px 210px;
    font-size: 50px;
    
}


#titulito{

font-size: xx-large;
font-style: initial;
margin: 15px 35px 15px 35px;
}
#titulitos{
    margin: 25px 45px 25px 45px;
    font-size: large;
    font-style: initial;
    text-align: left;
    }

#cuerpito{
    margin: 15px 45px 15px 45px;
font-size: medium;
text-align: left;
}


.form-register {
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: 150px 20px 180px 380px ;
    border-radius: 15px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(255, 181, 43);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(255, 181, 43);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: rgb(255, 181, 43);
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: rgb(255, 181, 43);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }