<body>

<aside id="aside">
    <br>
    <p id="titulito">Principales razones para adoptar una mascota </p>

    <p id="cuerpito">¿Estás pensando en agregar una mascota a tu familia? Aquí hay te damos varias razones para considerar adoptar un perro o gato de un refugio o rescate de animales.</p>
    <br>

    <p id="titulitos">1. Porque salvarás una vida. </p>
    
    <p id="cuerpito">Cada año, se estima que más de un millón de perros y gatos adoptables son sacrificados en los Estados Unidos, simplemente porque demasiadas mascotas llegan a los refugios y muy pocas personas consideran la adopción cuando buscan una mascota.</p>
    

    <p id="titulitos"> 2. Porque obtendrás un gran animal.</p>
    
    <p id="cuerpito">Los refugios de animales y los grupos de rescate están repletos de mascotas felices y saludables que esperan que alguien las lleve a casa. La mayoría de las mascotas de los refugios terminaron allí debido a un problema humano como una mudanza o un divorcio, no porque los animales hicieran algo malo. Muchos ya están entrenados en el hogar y acostumbrados a vivir con familias.</p>
    

    <p id="titulitos">3. Porque te costará menos. </p>
    
    <p id="cuerpito">Por lo general, cuando adopta mascotas, el costo de la esterilización/castración, las primeras vacunas (¡y a veces incluso el microchip!) está incluido en el precio de adopción, lo que puede ahorrarle algunos de los costos iniciales de agregar un nuevo miembro a su familia. Dependiendo del animal, también puede ahorrar en gastos de adiestramiento y adiestramiento.</p>
    

    <p id="titulitos">4. Porque es una forma de luchar contra las fábricas de cachorros. </p>
    
    <p id="cuerpito">Las fábricas de cachorros son instalaciones de cría al estilo de una fábrica que ponen las ganancias por encima del bienestar de los perros. Los animales de las fábricas de cachorros se alojan en condiciones terriblemente malas con atención médica inadecuada y, como resultado, a menudo están muy enfermos y tienen problemas de comportamiento. Las mamás de estos cachorros se mantienen en jaulas para ser criados una y otra vez durante años, sin compañía humana y con pocas esperanzas de formar una familia.</p>
    

    <p id="titulitos"> 5. Porque la adopción ayuda a más de un animal.</p>
    
    <p id="cuerpito">Los refugios sobrecargados acogen a millones de animales extraviados, maltratados y perdidos cada año, y al adoptar un animal, estás haciendo lugar para otros. ¡No solo le está dando una segunda oportunidad a más animales, sino que el costo de su adopción se destina directamente a ayudar a esos refugios a cuidar mejor a los animales que acogen!</p>

</aside>

<br>
<br>
<div id="titulo">Adopciones</div>

    
    <div class="container">

        <a routerLink="Formulario"><div class="item item11"></div></a>
        <a routerLink="Formulario"><div class="item item12"></div></a>
       


    </div>
    <div class="containert">

        <div routerLink="Formulario">Nala es una perrita que fue rescatada de los cerros orientales de Bogotá junto a su hermana Polet. Estaba en condición de calle y un grado de desnutricion severo, poco a poco nos ganamos su confianza y logramos rescatarla. </div>
        <div routerLink="Formulario">Jade es un perrito rescatado de la costa atlántica, se encontró en estado de desnutricion y muy mal estado de salud en general. Fue rescatado y puesto en tratamiento veterinario. Hoy Jade es un pequeñin muy activo, amoroso y sociable.</div>
        


    </div>

    <div class="container">

        <a routerLink="Formulario"><div class="item item13"></div></a>
        <a routerLink="Formulario"><div class="item item14"></div></a>
        


    </div>
    <div class="containert">

        <div routerLink="formulario">Ben es una perrito que fue rescatada de los cerros orientales de Bogotá en condición de calle y malas condiciones de salud, poco a poco nos ganamos su confianza y logramos rescatarlo.Hoy ella al igual que sus hermanas está listo para enamorar a una familia responsable que lo cuide por el resto de su vida. </div>
        <div routerLink="formulario">Sky y sus hermanos Pascal y Gaspar fueron rescatados de una finca abandonados en sus primeros días de vida, son tres perritos encantadores, juguetones y muy amorosos. Sky es la menor por ende la más consentida de este trio dinamico. </div>
       


    </div>
    <div class="container">

        <a routerLink="formulario"><div class="item item15"></div></a>
        <a routerLink="formulario"><div class="item item16"></div></a>
       


    </div>
    <div class="containert">

        <div class="itemt item1t">Tamaño pequeña, activa, sociable con otros gatos, aun tiene desconfianza con las personas debido a maltrato. Si estas interesado en adoptar puedes ingresar en este Link en donde encontrarás un formulario que debes diligenciar y otra información adicional importante para el proceso.</div>
        <div class="itemt item2t">Es una perrita muy joven de meses de edad, es muy tranquila, sociable y juguetona. le encanta correr y los paseos al aire libre. Alaska busca conectarse con el amor de una familia responsable por el resto de su vida.</div>
      


    </div>
<br>
<br>
    
</body>
