<body>

<aside id="aside">
    

</aside>

<br>
<br>

<aside id="aside">
    <br>
    <p id="titulito">Razones para adoptar una mascota</p>
<br>
    <p id="cuerpito">¿Estás pensando en agregar una mascota a tu familia? Aquí hay te damos varias razones para considerar adoptar un perro o gato de un refugio o rescate de animales.</p>
    <br>

    <p id="titulitos">1. Salvas una vida. </p>
    
    <p id="cuerpito">Muchas personas abandonan a sus mascotas en la calle mientras que otras las entregan en albergues o refugios. Debido a la escasez de espacio en estos lugares, en algunos casos los animales son sacrificados. Los que terminan en la calle pueden morir de hambre, atropellados, abusados o enfermos.</p>
    
    <p id="titulitos">2. Te hacen compañía. </p>
    
    <p id="cuerpito">Tener una mascota hará que nunca te sientas solo. Con ella puedes jugar, hacer ejercicio y hasta usarla de paño de lágrimas en aquellos días grises. Son fieles compañeros, especialmente los perros.</p>
    
    <p id="titulitos">3. No apoyarás el tráfico ilegal de animales. </p>
    
    <p id="cuerpito">Las mascotas que estás personas venden, por lo general, viven dentro de jaulas y lejos del calor humano. Además, se suele desconocer su origen y si fueron criadas responsablemente. Al comprar, se continúa con el ciclo de venta y encierro.</p>

    <p id="titulitos">4. Te brindan amor incondicional. </p>
    
    <p id="cuerpito">Pase lo que pase, tu mascota siempre estará disponible para quererte y será la primera que se alegre cuando llegues a casa. El amor que brindan los animales es tan puro que solo querrás tenerlo cerca siempre.</p>

</aside>


<section class="form-register">
    <h4>Formulario De adopción</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="animal" name="correo" id="correo" placeholder="Nombre del animalito">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Adoptar">
  </section>



<br>
<br>

    
</body>