
<body>

<aside id="aside">
    

</aside>

<br>
<br>
<div id="titulo">Nosotros</div>

<br>
    
    <div class="container">

        <div class="itemt1 item1t">
            <div id="titulo3">Misión</div>
            La fundación Husstier, es una entidad sin ánimo de lucro, comprometida con promover mediante diferentes actividades la adopción responsable, la conciencia de esterilizar y recuperar animales en condición de maltrato y abandono con el fin de enseñar, contribuir y entregar una calidad de vida a todos los perros y gatos que lo necesiten.. </div>

        <div class="item item1"></div>
       


    </div>
    <br>
    <br>

    <div class="container">

        <div class="item item2"></div>

        <div class="itemt1 item2t">
            <div id="titulo3">Visión</div>
            Queremos ser reconocidos a nivel mundial por el impacto generado no solo a todos aquellos animales que fueron rescatados, sino a toda la sociedad por generar conocimiento y consciencia acerca de la importancia de esterilizar, y de la responsabilidad de tener un perro y/o gato en nuestro hogar. </div>

    </div>
<br>
<br>
   
    <div class="container">

        <div class="itemt1 item1t">

            <div id="titulo3">Historia</div>
            Haustier fue creada oficialmente en julio del año 2022 como un proyecto universitario de la Escuela de artes y letras .En esta clase se habla sobre  la problemática de los animales abandonados, maltratados y con la necesidad de cambiar la vida de todos aquellos perros y gatos que llegan a nosotros con la esperanza de reescribir su historia a travez de un medio digital accesible a todos.</div>

        <div class="item item3"></div>
       


    </div>
<br>
<br>

    <div class="container">

        <div class="item item4"></div>

        <div class="itemt1 item2t">
            <div id="titulo3">Meta</div>
            
            4 brigadas educativas y de esterilización a nivel nacional en los lugares más olvidados de Colombia; así, brindándole una nueva oportunidad al menos a 1200 animales, mitigando la reproducción indiscriminada, la sobrepoblación animal, el maltrato y el abandono.
<br>

Realizar 2 jornadas de alimentación en distintas ciudades para llenar las barriguitas de quienes no tienen posibilidades de sobrevivir.</div>
        


    </div>
<br>
<br>
 
</body>
